.home-container {
  margin: 2rem auto;
  width: 40%;
  text-align: center;
  padding: 5rem 3rem;
  border: 1px solid var(--outline);
  background-color: black;
  border-radius: 0.5rem;
}

.home-container > h1 {
  display: flex;
  flex-direction: column;
  color: var(--primary);
}

.home-container > h3 {
  display: flex;
  flex-direction: column;
  color: white;
}

.home-container > div {
  font-style: italic;
}